# Copyright 2026 Dimitri Koshkin. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: release-please

on:
  push:
    branches:
      - main
      - release/v*

permissions:
  contents: write
  pull-requests: write
  issues: write
  actions: write

defaults:
  run:
    shell: bash

jobs:
  release-please:
    runs-on: ubuntu-24.04
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          target-branch: ${{ github.ref_name }}

      - name: Check out code
        if: ${{ steps.release-please.outputs.release_created }}
        uses: actions/checkout@v6

      - name: Tag additional modules
        if: ${{ steps.release-please.outputs.release_created }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          make tag-modules NEW_GIT_TAG=${{ steps.release-please.outputs.tag_name }}
          git push origin --tags

      - name: Run release workflow
        if: ${{ steps.release-please.outputs.release_created }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: release.yaml
          ref: ${{ steps.release-please.outputs.tag_name }}
